@import "~antd/dist/antd.css";

.site {
  fill: none;
  stroke: chartreuse;
  stroke-width: 2px;
}

.water {
  fill: gray;
}

#building, .tile .building {
  fill: black;
}

#places,
.places {
  display: none;

}

#transit {
  display: none;

}

#pois {
  display: none;
}

#boundaries {
  fill: none;
  stroke: gray;
  stroke-width: 0.5px;
}

#roads {
  stroke: #ccc;
  stroke-width: 1px;
  fill: none;
}

#earth,.tile .earth,
.earth {
  fill: white;
  /*stroke: 0.5;
  stroke-color: #dfe6ea;*/
}

#landuse {
  fill: white;
}

#military, .military {
  fill: pink;
  fill-opacity: 0.2;
}

.tile path {
  fill: none;
  stroke: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}

#waterlayer, #river, #stream, #canal .tile .waterlayer,
.tile .river,
.tile .stream,
.tile .canal {
  fill: none;
  stroke: gray;
  stroke-width: 1.5px;
}

#water, #ocean, .tile .water,
.tile .ocean {
  fill: gray;
  stroke: gray;

}

#riverbank, .tile .riverbank {
  fill: gray;
}

#waterboundary, #oceanboundary, #riverbankboundary,.tile .waterboundary,
.tile .oceanboundary,
.tile .riverbankboundary {
  fill: none;
  stroke: gray;
  stroke-width: 0.5px;
}

#majorroad, .tile .majorroad {
  stroke: rgb(57, 57, 57);
  stroke-width: 1px;
}

#minorroad.tile .minorroad {
  stroke: #999;
  stroke-width: 0.5px;
}

#highway, .tile .highway {
  stroke: black;
  stroke-width: 1.5px;
}

#buildings-layer, .tile .buildings-layer {
  stroke: #987284;
  stroke-width: 0.15px;
}

#park, #naturereserve, #wood, #protectedland,.tile .park,
.tile .naturereserve,
.tile .wood,
.tile .protectedland {
  fill: #88D18A;
  stroke: #88D18A;
  stroke-width: 0.5px;
}

#pier, .tile .pier {
  fill: #fff;
  stroke: #fff;
  stroke-width: 0.5px;
}

#rail, .tile .rail {
  stroke: #503D3F;
  stroke-width: 0.5px;
}

/* app styles */

.settings {
  padding: 20px;
}

.params {
  margin: 10px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}